<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:Tenant" value="insert tenant login information here" />
    <add key="ida:ClientId" value= "insert value here " />
    <add key="ida:RedirectUri" value="insert value here " />
    <!----- changes the AADInstance value as well depending on your active directory instance-->
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0} " />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />

    <!--Values for the App Principal Id, Base64Key, and BposTenantId must be added before running the application-->
    <add key="AppPrincipalId" value="insert value here "/>
    <add key="Base64Key" value="insert value here "/>
    <add key="BposTenantId" value="insert value here "/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>