<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="ida:Tenant" value="Type your UPN here" />
    
<add key="ida:ClientId" value= "Client ID from your app registration" />
    
<add key="ida:RedirectUri" value="https://<your custom domain>/.auth/login/done" />
    
<add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
  
<add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />

<!--Values for the App Principal Id, Base64Key, and BposTenantId must be added before running the application-->
    
<add key="AppPrincipalId" value="Number from when you register the app with MSOnline services"/>
    
<add key="Base64Key" value="Symmetric key Generated"/>
    
<add key="BposTenantId" value="Tenant ID number"/>
  
</appSettings>
<startup>
    
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  
</startup>

</configuration>





