<?xml version="1.0" encoding="utf-8" ?>  
<configuration>
  <appSettings>
    <add key="ida:Tenant" value="stynger76@gyrops.onmicrosoft.com" />
    <!-- Client ID is the application ID you get when you register the App in Azure Portal-->
    <add key="ida:ClientId" value= "from the value from Azure" />
    <!--Since you have registered the App as native use the following way to get the Redirect URI "https://<your domain here>/.auth/login/done" -->
    <add key="ida:RedirectUri" value="https://localhost:44321/" />
    <!-- keep these values as they are -->
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />
    <!-- Uncomment these vaules if you are not location in North America in this example it is Europe -->
    <!--add key="LicensingIntranetDistributionPointUrl" value="https://f3199d0d-1faf-432e-96f2-83d95a8df5b4.rms.eu.aadrm.com/_wmcs/licensing" /> -->
    <!--add key="LicensingExtranetDistributionPointUrl" value="https://f3199d0d-1faf-432e-96f2-83d95a8df5b4.rms.eu.aadrm.com/_wmcs/licensing" /> -->


    <!--Values for the App Principal Id, Base64Key, and BposTenantId must be added before running the application-->   
    <add key="AppPrincipalId" value=""/>
    <add key="Base64Key" value=""/>
    <add key="BposTenantId" value=""/>   
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
