<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="ida:Tenant" value="stynger76@gyrops.onmicrosoft.com" />
    
<add key="ida:ClientId" value= "7a0987a4-c6fc-4fa5-bedd-571286439708" />
    
<add key="ida:RedirectUri" value="https://gyrops.onmicrosoft.com/.auth/login/done" />
    
<add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
  
<add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />

<!--Values for the App Principal Id, Base64Key, and BposTenantId must be added before running the application-->
    
<add key="AppPrincipalId" value="5a104074-beff-4da4-a920-979f49240f56"/>
    
<add key="Base64Key" value="VmKJNabujVZ3RdOmX2P4/z14v1RVouqB8hH2Ra7JvFU="/>
    
<add key="BposTenantId" value="c76fc112-30ed-4d26-912d-79e95c4d7333"/>
  
</appSettings>
<startup>
    
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  
</startup>

</configuration>




