<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appsettings>
    add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />
  </appsettings>
  <packages>
    <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net452" />
  </packages>
</configuration>
