<?xml version="1.0" encoding="utf-8" ?>  
<configuration>
  <appSettings>
    <add key="ida:Tenant" value="Change this value get it from Azure" />
    <!-- Client ID is the application ID you get when you register the App in Azure Portal-->
    <add key="ida:ClientId" value= "Change this value get it from AzureAD Application Registration" />
    <!--Since you have registered the App as native use the following way to get the Redirect URI "https://<your domain here>/.auth/login/done" -->
    <add key="ida:RedirectUri" value="Change this value to the redirect URI on the application in Azure AD" />
    <!-- keep these values as they are -->
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />
    <!-- Uncomment these vaules if you are not location in North America in this example it is Europe for Azure Only -->
    <!-- <add key="LicensingIntranetDistributionPointUrl" value="https://3e229f5b-66d5-4f97-b1e0-a21d61fa2983.rms.eu.aadrm.com/_wmcs/licensing" /> -->
    <!--<add key="LicensingExtranetDistributionPointUrl" value="https://3e229f5b-66d5-4f97-b1e0-a21d61fa2983.rms.eu.aadrm.com/_wmcs/licensing" /> -->
    <!-- Update this value for ADRMS On-premises solution-->
    <add key="LicensingIntranetDistributionPointUrl" value="change this value to the license URI for ADRMS" />
    <!--Values for the App Principal Id, Base64Key, and BposTenantId must be added before running the application-->   
    <add key="AppPrincipalId" value="Get this Microsoft online service principal registration"/>
    <add key="Base64Key" value="Get this from MSOL service principal registration"/>
    <add key="BposTenantId" value="Your Azure Tenant ID "/>   
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
