<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:Tenant" value="stynger76@gyrops.onmicrosoft.com" />
    <add key="ida:ClientId" value= "from the value from Azure" />
    <add key="ida:RedirectUri" value="https://localhost:44321/" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />

    <!--Values for the App Principal Id, Base64Key, and BposTenantId must be added before running the application-->
    <add key="AppPrincipalId" value=""/>
    <add key="Base64Key" value=""/>
    <add key="BposTenantId" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>