<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:Tenant" value="use your tenant login id" />
    <add key="ida:ClientId" value= "put the ClientID" />
    <add key="ida:RedirectUri" value="put the redirect URI used for the authentication" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />
    <!--Values for the App Principal Id, Base64Key, and BposTenantId must be added before running the application-->
    <add key="AppPrincipalId" value="Enter your value"/>
    <add key="Base64Key" value="Key value"/>
    <add key="BposTenantId" value="Tenant ID"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>