<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Config.wxi ?>
	
	<Product 
		Id="*" 
		Name="$(var.ApplicationName)" 
		Language="1033" 
		Version="$(var.BuildVersion)" 
		Manufacturer="Microsoft Corporation" 
		UpgradeCode="8C9E65E0-DF63-4A8E-8627-A0F935BA3B01">
		
		<Package 
			InstallerVersion="200" 
			Compressed="yes" 
			InstallScope="perMachine"
			InstallPrivileges="elevated"
			Platform="x86"/>
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ApplicationName) is already installed." />
		<MediaTemplate EmbedCab='yes' />

		<Feature Id="ProductFeature" Title="com.microsoft.rightsmanagement.windows.viewer.installer" Level="1">
			<ComponentGroupRef Id="RootComponentGroup" />
			<ComponentGroupRef Id="MSIPC" />
			<ComponentRef Id="Associations" />
		</Feature>

		<Property Id="ARPNOREPAIR" Secure="yes" Value="false" />
		<Property Id="ARPNOMODIFY" Secure="yes" Value="false" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.ApplicationName)" />
			</Directory>
		</Directory>

	</Product>

</Wix>
