<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Config.wxi ?>
	
	<Bundle Name="$(var.ApplicationName)"
					Version="$(var.BuildVersion)"
					Manufacturer="Microsoft Corporation"
					UpgradeCode="5D9EC71D-960E-4E58-ADA1-C44B094DAE72"
					IconSourceFile="Resources\Application.ico"
					DisableModify="yes">

		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseUrl="http://go.microsoft.com/fwlink/?LinkId=826379"
				LogoFile="Resources\Banner.png"
				ShowVersion="yes"
				ThemeFile="Resources\RtfLargeTheme.xml"
				SuppressOptionsUI="yes"
				LocalizationFile="Strings.wxl" />

			<?ifdef env.Enable_LBA ?>
				<?if $(env.Enable_LBA) = 1?>
					<Payload Id="theme_bg" Compressed="yes" Name="1026\thm.wxl" SourceFile="LocalizationGenerated\bg\Strings.wxl" />
					<Payload Id="theme_ca" Compressed="yes" Name="1027\thm.wxl" SourceFile="LocalizationGenerated\ca\Strings.wxl" />
					<Payload Id="theme_cs" Compressed="yes" Name="1029\thm.wxl" SourceFile="LocalizationGenerated\cs\Strings.wxl" />
					<Payload Id="theme_da" Compressed="yes" Name="1030\thm.wxl" SourceFile="LocalizationGenerated\da\Strings.wxl" />
					<Payload Id="theme_de" Compressed="yes" Name="1031\thm.wxl" SourceFile="LocalizationGenerated\de\Strings.wxl" />
					<Payload Id="theme_el" Compressed="yes" Name="1032\thm.wxl" SourceFile="LocalizationGenerated\el\Strings.wxl" />
					<Payload Id="theme_es" Compressed="yes" Name="3082\thm.wxl" SourceFile="LocalizationGenerated\es\Strings.wxl" />
					<Payload Id="theme_et" Compressed="yes" Name="1061\thm.wxl" SourceFile="LocalizationGenerated\et\Strings.wxl" />
					<Payload Id="theme_eu" Compressed="yes" Name="1069\thm.wxl" SourceFile="LocalizationGenerated\eu\Strings.wxl" />
					<Payload Id="theme_fi" Compressed="yes" Name="1035\thm.wxl" SourceFile="LocalizationGenerated\fi\Strings.wxl" />
					<Payload Id="theme_fr" Compressed="yes" Name="1036\thm.wxl" SourceFile="LocalizationGenerated\fr\Strings.wxl" />
					<Payload Id="theme_gl" Compressed="yes" Name="1110\thm.wxl" SourceFile="LocalizationGenerated\gl\Strings.wxl" />
					<Payload Id="theme_hi" Compressed="yes" Name="1081\thm.wxl" SourceFile="LocalizationGenerated\hi\Strings.wxl" />
					<Payload Id="theme_hr" Compressed="yes" Name="1050\thm.wxl" SourceFile="LocalizationGenerated\hr\Strings.wxl" />
					<Payload Id="theme_hu" Compressed="yes" Name="1038\thm.wxl" SourceFile="LocalizationGenerated\hu\Strings.wxl" />
					<Payload Id="theme_id" Compressed="yes" Name="1057\thm.wxl" SourceFile="LocalizationGenerated\id\Strings.wxl" />
					<Payload Id="theme_it" Compressed="yes" Name="1040\thm.wxl" SourceFile="LocalizationGenerated\it\Strings.wxl" />
					<Payload Id="theme_ja" Compressed="yes" Name="1041\thm.wxl" SourceFile="LocalizationGenerated\ja\Strings.wxl" />
					<Payload Id="theme_kk" Compressed="yes" Name="1087\thm.wxl" SourceFile="LocalizationGenerated\kk\Strings.wxl" />
					<Payload Id="theme_ko" Compressed="yes" Name="1042\thm.wxl" SourceFile="LocalizationGenerated\ko\Strings.wxl" />
					<Payload Id="theme_lt" Compressed="yes" Name="1063\thm.wxl" SourceFile="LocalizationGenerated\lt\Strings.wxl" />
					<Payload Id="theme_lv" Compressed="yes" Name="1062\thm.wxl" SourceFile="LocalizationGenerated\lv\Strings.wxl" />
					<Payload Id="theme_ms" Compressed="yes" Name="1086\thm.wxl" SourceFile="LocalizationGenerated\ms\Strings.wxl" />
					<Payload Id="theme_nl" Compressed="yes" Name="1043\thm.wxl" SourceFile="LocalizationGenerated\nl\Strings.wxl" />
					<Payload Id="theme_no" Compressed="yes" Name="1044\thm.wxl" SourceFile="LocalizationGenerated\no\Strings.wxl" />
					<Payload Id="theme_pl" Compressed="yes" Name="1045\thm.wxl" SourceFile="LocalizationGenerated\pl\Strings.wxl" />
					<Payload Id="theme_pt-BR" Compressed="yes" Name="1046\thm.wxl" SourceFile="LocalizationGenerated\pt-BR\Strings.wxl" />
					<Payload Id="theme_pt-PT" Compressed="yes" Name="2070\thm.wxl" SourceFile="LocalizationGenerated\pt-PT\Strings.wxl" />
					<Payload Id="theme_ro" Compressed="yes" Name="1048\thm.wxl" SourceFile="LocalizationGenerated\ro\Strings.wxl" />
					<Payload Id="theme_ru" Compressed="yes" Name="1049\thm.wxl" SourceFile="LocalizationGenerated\ru\Strings.wxl" />
					<Payload Id="theme_sk" Compressed="yes" Name="1051\thm.wxl" SourceFile="LocalizationGenerated\sk\Strings.wxl" />
					<Payload Id="theme_sl" Compressed="yes" Name="1060\thm.wxl" SourceFile="LocalizationGenerated\sl\Strings.wxl" />
					<Payload Id="theme_sr-Cyrl-RS" Compressed="yes" Name="10266\thm.wxl" SourceFile="LocalizationGenerated\sr-Cyrl-RS\Strings.wxl" />
					<Payload Id="theme_sr-Latn-RS" Compressed="yes" Name="9242\thm.wxl" SourceFile="LocalizationGenerated\sr-Latn-RS\Strings.wxl" />
					<Payload Id="theme_sv" Compressed="yes" Name="1053\thm.wxl" SourceFile="LocalizationGenerated\sv\Strings.wxl" />
					<Payload Id="theme_th" Compressed="yes" Name="1054\thm.wxl" SourceFile="LocalizationGenerated\th\Strings.wxl" />
					<Payload Id="theme_tr" Compressed="yes" Name="1055\thm.wxl" SourceFile="LocalizationGenerated\tr\Strings.wxl" />
					<Payload Id="theme_uk" Compressed="yes" Name="1058\thm.wxl" SourceFile="LocalizationGenerated\uk\Strings.wxl" />
					<Payload Id="theme_vi" Compressed="yes" Name="1066\thm.wxl" SourceFile="LocalizationGenerated\vi\Strings.wxl" />
					<Payload Id="theme_zh-HANS" Compressed="yes" Name="2052\thm.wxl" SourceFile="LocalizationGenerated\zh-HANS\Strings.wxl" />
					<Payload Id="theme_zh-HANT" Compressed="yes" Name="1028\thm.wxl" SourceFile="LocalizationGenerated\zh-HANT\Strings.wxl" />

					<?ifdef env.Enable_Pseudo ?>
						<?if $(env.Enable_Pseudo) = 1 ?>
							<Payload Id="theme_ja-ploc-jp" Compressed="yes" Name="1041\thm.wxl" SourceFile="LocalizationGenerated\ja-ploc-jp\Strings.wxl" />
							<Payload Id="theme_ar-ploc-sa" Compressed="yes" Name="1025\thm.wxl" SourceFile="LocalizationGenerated\ar-ploc-sa\Strings.wxl" />
						<?endif ?>
					<?endif ?>

				<?endif ?>
			<?endif ?>
		</BootstrapperApplicationRef>

		<!--
		This variable controls the behavior of telemetry.
		When it has positive value it enables the telemetry.
		When its value is 0 it disables the telemetry.
		When it has negative value it does not change state, which by default is enabled.
		Note: Uninstall does not clear the state, so installing with negative value means the previous state is maintained, even after uninstall or in upgrade.
		
		It can be overridden in silent setup in order to get any of the 3 states above.
		Its negative default value means that by default the state is not changed, mainly to prevent MU from changing state.
		Also, it sets the checkbox on by default, but in the UI this value is always overridden to be 0 or 1 only, so state is always adapted to the checkbox in the UI. 
		-->
		<Variable Name="AllowTelemetry" bal:Overridable="yes" Type="string" Value="-1"/>

		<util:RegistrySearch Id="NetFramework46" Variable="NETFRAMEWORK461" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Value="Release"/>

		<bal:Condition Message="#(loc.ErrorWin7Sp1)">
			<![CDATA[Installed OR (VersionNT > v6.1) OR (VersionNT = v6.1 AND ServicePackLevel >= 1)]]>
		</bal:Condition>

		<bal:Condition Message="#(loc.ErrorNetFrameworkMissing)">
			<![CDATA[Installed OR (NETFRAMEWORK461 >= "#394254")]]>
		</bal:Condition>

	<Chain>

			<!--Install the MSIP app package-->
			<MsiPackage
				SourceFile="$(var.com.microsoft.rightsmanagement.windows.viewer.installer.peruser.TargetPath)"
				Vital="yes">
				<MsiProperty Name="ENABLETELEMETRY" Value="[AllowTelemetry]" />
			</MsiPackage>

		</Chain>
	</Bundle>
</Wix>